.createbtn {
    padding: 5px;
    cursor: pointer;
}
#vectsect  {
    float: left;
   
}
.smallvect {
    width: 250px;
}
.component {
    width: 50px;
}
#smallvectors {
    
    padding: 10px;
    
} #vectordivsmall {
    
    padding: 5px;
}
.vector1div {
    margin:0;
}
.vector2div {
    margin-left: 5px;
    
}