html {
    font-family: OpenSans, sans-serif;
}

.createbtn {
    padding: 5px;
    cursor: pointer;
}
#vectsect  {
    float: left;
   
}
.smallvect {
    width: 250px;
}
.component {
    width: 50px;
}
#smallvectors {
    
    padding: 10px;
    
} #vectordivsmall {
    
    padding: 5px;
}
.vector1div {
    margin:0;
    margin-left: 5px;
}
.vector2div {
    margin-left: 5px;
    
}
#gridlines {
    stroke-dasharray: 1;
    stroke: white;
}
svg {
    background: linear-gradient(135deg,#7aaed7,#466589);
}
#basislines {
    stroke: white;
    stroke-width: 3;
}

.vectbracket {
    font-size: 200%;
}
input {
    text-align: center;
    border: none;
}